<h1>Ajouter un pokemon</h1>

<div *ngIf="!form.valid" style="background-color: red;">
ATTENTION VALEURS INVALIDES
</div>

<form [formGroup]="form" (ngSubmit)="sendForm()"> 

    Name: 
    <input formControlName="name" />
<br />

Image URL: 
<input formControlName="imageUrl" />

<div *ngIf="form.get('imageUrl')?.hasError('required')" style="background-color: red;">
    attention il faut une image pour ce pokemon
</div>

<br />

Supertype: 
<input formControlName="supertype" />
<br />

    <input type="submit" value="Go" />
</form>

<h1>Liste des noms : </h1>
<div *ngFor="let p of pokemons | async" >

    {{ p.name }}


</div>